body {
  max-width: 1280px;
  margin: 0 auto;
  color: #2f80ed;
  font-family: "Inter", Helvetica, Arial, sans-serif;
}
footer {
  font-size: 17px;
  font-style: normal;
  text-align: center;
  padding-bottom: 30px;
}
.main {
  width: 100%;
  padding-top: 110px;
  text-align: center
}
.main img {
  margin-bottom: 10px;
}
.errCode {
  font-size: 120px;
  font-weight: 400;
  width: 420px;
  margin: 0 auto;
  margin-bottom: 280px;
}
.descriptionErr {
  display: none;
}
.errCode:hover{
  margin-bottom: 0px;
}
.main .errCode:hover ~ .descriptionErr {
  width: 420px;
  display: block;
  padding-top: 22px;
  padding-bottom: 118px;
  margin: 0 auto;
}



